@font-face {
  font-family: 'Aladin';
  src: url('./fonts/Aladin-Regular.ttf') format('truetype');
}

html{
  background-image: url('./images/bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

body{
  text-align: center;
  margin:1em;
  color: white;
  font-family: 'Aladin', sans-serif;
}

/* Title */

.title{
  font-size: 3rem;
}

.extra{
  color: violet;
  font-size: 1.2rem ;
  padding-bottom: 3.5em;
}

.info{
  padding-bottom: 2.5em;
  font-size: 1.5rem;
}

/* Instruments section */

.percussion-section{
  margin: 0%;
  padding: 0;
  border: 1px solid white;
  display: flex;
}

.instrument-container{
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 70%;
  }

.instrument{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.instrument *{
  margin: none;
  padding: none;
}

.key{
  z-index: 100;
  color: white;
  margin: auto;
  position: relative;
  bottom: 3.3em;
  padding: 0%;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
}

.instrument-img{
  padding: 0%;
  margin:0;
  width: 15vw;
  height: 15vh;
}

/* Instrument Positioning */

.instrument-box:nth-child(1){
  position: absolute;
  top: 40%;
  left: 2%;
  z-index: 100;
}

.instrument-box:nth-child(2){
  position: absolute;
  top: 40%;
  right: 2%;
  z-index: 100;
}

.instrument-box:nth-child(3){
  transform: scale(0.6);
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 100;
}

.instrument-box:nth-child(4){
  transform: scale(0.6);
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: 100;
}

.instrument-box:nth-child(5){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(6){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(7){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(8){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(9){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(10){
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 100;
}

.instrument-box:nth-child(11){
  transform: scale(1.5);
  position: absolute;
  bottom: 25%;
  left: 50%;
  z-index: 100;
}

.instrument-box:nth-child(12){
  position: absolute;
  bottom: 25%;
  right: 53%;
  z-index: 100;
}

/* Instrument Playing */

.playing {
  transform: scale(0.98);
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    rgba(255,255,255,0.20) 67%,
    rgba(255,255,255,0.03) 70%,
    rgba(255,255,255,0.00) 73%
  )
}

/* Footer */

.footer {
  color: lightgray;
  font-size: 1.2rem;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

.foot-container{
  margin-top: 3.5em;
}

.footer a{
  color: violet;
}

/*Individual Instruments */


