@font-face {
  font-family: 'Aladin';
  src: url('./fonts/Aladin-Regular.ttf') format('truetype');
}

html{
  background-image: url('./images/bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

body{
  text-align: center;
  margin:1em;
  color: white;
  font-family: 'Aladin', sans-serif;
}

/* Title */

.title{
  font-size: 3rem;
}

.extra{
  color: violet;
  font-size: 0.8rem ;
  padding-bottom: 3.5em;
}

.info{
  padding-bottom: 2.5em;
}

/* Instruments section */

.percussion-section{
  margin: 0%;
  padding: 0;
  border: 1px solid white;
  display: flex;
}

.instrument-container{
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 70%;
  }

.instrument{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.instrument *{
  margin: none;
  padding: none;
}

.key{
  z-index: 100;
  color: white;
  margin: auto;
  position: relative;
  bottom: 3.3em;
  padding: 0%;
  font-size: 1.5rem;
  text-shadow: 2px 2px black;
}

.instrument-img{
  padding: 0%;
  margin:0;
  width: 20vw;
  height: 15vh;
}

.playing {
  transform: scale(0.98);
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    rgba(255,255,255,0.20) 67%,
    rgba(255,255,255,0.03) 70%,
    rgba(255,255,255,0.00) 73%
  )
}


/* Footer */

.footer {
  color: lightgray;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
}

.footer a{
  color: violet;
}

Individual Instruments */

.instrument-container:nth-child(1) {
  width: 20vw;
  height: 20vh;
  left: 40%;
  top: 3vw;
  z-index: 3;
}

.instrument-container:nth-child(2) {
  position: absolute;
  right: 2em;
  width: 50%;
}

