@font-face {
  font-family: 'Aladin';
  src: url('./fonts/Aladin-Regular.ttf') format('truetype');
}

html{
  background-image: url('./images/bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

body{
  text-align: center;
  margin:1em;
  color: white;
  font-family: 'Aladin', sans-serif;
}

/* Title */

.title{
  font-size: 3rem;
}

/* Instruments section */

/* Footer */

.footer {
  color: lightgray;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
}

.footer a{
  color: violet;
}